<table class="table table-sm">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">Last Validated at Block {{info?.last_confirmed_height}}
        ({{walletService.currentNodeHeight-info?.last_confirmed_height}} Blocks Ago)
      </td>
    </tr>
    <tr class="table-primary">
      <td>Confirmed Total</td>
      <td class="text-right">{{util.amountAsHr(info?.total, 9)}}</td>
    </tr>
    <tr>
      <td>Immature Coinbase (&lt; 1440)</td>
      <td class="text-right">{{util.amountAsHr(info?.amount_immature,9)}}</td>
    </tr>
    <tr>
      <td>Awaiting Confirmation (&lt; 10)</td>
      <td class="text-right">{{util.amountAsHr(info?.amount_awaiting_confirmation, 9)}}</td>
    </tr>
    <tr>
      <td>Awaiting Finalization</td>
      <td class="text-right">{{util.amountAsHr(info?.amount_awaiting_finalization, 9)}}</td>
    </tr>
    <tr>
      <td>Locked by Previous Transactions</td>
      <td class="text-right">{{util.amountAsHr(info?.amount_locked, 9)}}</td>
    </tr>
    <tr class="table-success">
      <td>Currently Spendable</td>
      <td class="text-right">{{util.amountAsHr(info?.amount_currently_spendable, 9)}}</td>
    </tr>
  </tbody>
</table>
